# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Syed Abraham Ahmed
name: Syed Abraham Ahmed
position: Computer Engineering Undergraduate Student
email: syed[dot]abraham14[at]gmail[dot]com
description: |

  A Computer Engineering (Co-op) Undergraduate student at [University of Manitoba](https://umanitoba.ca/). My experience is mainly in robotics, deep learning/genAI systems, systems engineering, and technical work in embedded, ROS2, and perception fields.

  Previously, I interned at [StandardAero](https://standardaero.com/), [PTx Trimble](https://ptxtrimble.com/en), and the [Canadian Grain Commission](https://www.grainscanada.gc.ca/en/).
  
  I'm currently leading the Reinforcement Learning module for my BSc final project, Stuart - The Smart Micromouse Maze Solver combining a PCB-based robot design with Deep Q-Learning for fast maze solving.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://ahmeda16.github.io" # the base hostname & protocol for your site, e.g. http://example.com
linkedin_username: syed-abraham-ahmed
github_username: ahmeda16
google_scholar: fgr0lvcAAAAJ
google_analytics: 

# Build settings
plugins:
  - jekyll-feed
  - jekyll-tailwindcss

# Blog settings
permalink: /blog/:year/:month/:day/:title/
excerpt_separator: <!--more-->

defaults:
  - scope:
      path: "_posts"
      type: "posts"
    values:
      layout: "post"
      math: false

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
